<h1>My jQuery JSON Web Page <p id="testing">Guest</p> </h1>



<input type="button" value = "JSONTestGetData" onclick="JSONTestGetData()">
<input type="button" value = "JSONTestSearchData" onclick="JSONTestSearchData()">
<input type="button" value = "JSONTestSortData" onclick="JSONTestSortData()">